Header{
    text-align:center;
    color: white;
    background-color: black;
    padding: 4px;
}
Header p {
    text-align:center;
    color: white;
    background-color: black;
    margin: 0px;
    font-weight: bolder;
}
img {
    display: ;
    margin: 0;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}
ul {
    background-color: grey;
    nav-left: ;
    text-align: center;
    display: inline;|
}
body {
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 30px;
}
 button {
    max-width: 120px;
    padding: 20px;
    hover: pointer;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1)
 }
*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: grey;
    gap: 14px;
    flex-wrap: wrap;
    list-style: none;
    border: 2px solid grey;
}
nav ul li a{
    display: block;
    padding: 14px 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.skills-list {
    display: inline-block;
    gap: 17px;
    font-weight: bold;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1)
}
footer {
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    color: white;
}
form {
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1)
}
form button {
    background-color: black;
    color: white;
    padding: 10px 15px;
}